@import "@fontsource/noto-sans-jp/index.css";

:root {
  --bg: rgb(255 255 255);
  --fg: rgb(51 51 51);
  --fg-2: rgb(107 107 107);
  --fg-cv: 51 51 51;
  --sel: rgb(132 197 223);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: rgb(13 16 20);
    --fg: rgb(230 238 250);
    --fg-2: rgb(157 157 157);
    --fg-cv: 230 238 250;
    --sel: rgb(0 105 150);
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-mono), 'Noto Sans JP', Arial, sans-serif;
  background-color: var(--bg);
  color: var(--fg);
}

::selection {
  background-color: var(--sel);
}

a {
  color: var(--sel);
  text-decoration-color: var(--sel);
  &::selection {
    color: var(--fg-2);
  }
}
