---
---

<footer>
  <span>SHA256:R+mkbDR6QWhoFjmxfSB3+gPcDixtg+0x0JaOnBRc1IA</span>
  <span>Copyright &copy; since 2021 btjawa. Powered by <a href="https://astro.build/" target="_blank">Astro</a> &amp; <a href="https://vercel.com/" target="_blank">Vercel</a>.</span>
</footer>

<style>
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 24px;
  color: var(--fg-2);
  font-size: 14px;
  line-height: 20px;
}
</style>
